@if (entrenamientoService.userSignal()) {
  <nav class="navbar bg-white border-bottom sticky-top mb-3">
    <div class="container d-flex justify-content-between">
      <span class="fw-bold text-primary">WorkoutMaster</span>
      <button (click)="entrenamientoService.logout()" class="btn btn-sm btn-outline-danger border-0">
        <i class="bi bi-box-arrow-right"></i>
      </button>
    </div>
  </nav>

  <div class="container mb-4">
    <div class="btn-group w-100 shadow-sm rounded-4 overflow-hidden">
      <a routerLink="/dashboard" routerLinkActive="active" class="btn btn-light py-2 fw-bold">🏠 Home</a>
      <a routerLink="/training" routerLinkActive="active" class="btn btn-light py-2 fw-bold">🏋️‍♂️ Workout</a>
      <a routerLink="/historial" routerLinkActive="active" class="btn btn-light py-2 fw-bold">📜 History</a>
    </div>
  </div>

  <div class="container">
    <router-outlet></router-outlet>
  </div>

} @else {
  <app-login></app-login>
}