
.day-cell-container {
  display: flex; 
  flex-direction: column; 
  gap: 2px;
  width: 30px;
  height: 58px; 
  border-radius: 6px;
  overflow: hidden; 
}

.day-box {
  cursor: pointer;
  width: 32px; 
  height: 32px;
  background-color: #f1f5f9; 
}

.day-box:active {
  transform: scale(0.9);
}

.day-box:hover {
transform: translateY(-2px); 
filter: brightness(1.1);
cursor: pointer;
}

.workout-intensity-0 { background-color: #e2e8f0; } 
.workout-intensity-1 { background-color: #dcfce7; } 
.workout-intensity-2 { background-color: #86efac; } 
.workout-intensity-3 { background-color: #22c55e; } 


.nutrition-intensity-0 { background-color: #e2e8f0; } 
.nutrition-intensity-1 { background-color: #fff7ed; } 
.nutrition-intensity-2 { background-color: #fed7aa; } 
.nutrition-intensity-3 { background-color: #fb923c; } 

.share-only-header {
  display: flex; 
}

.btn-share-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #94a3b8;
  font-size: 1.1rem;
}

.workout-box {
  border-bottom-left-radius: 6px;
  border-top-right-radius: 6px;
}

.nutrition-box {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.nutrition-box.completed {
  background-color: linear-gradient(135deg, #fb923c, #ea580c) !important;
  box-shadow: 0 0 8px rgba(251, 146, 60, 0.3);
  border: none;
}

.workout-box.completed {
  background-color: linear-gradient(135deg, #2dd4bf, #0d9488) !important;
  box-shadow: 0 0 8px rgba(45, 212, 191, 0.3);
  border: none;
}