<div #shareArea id="share-area" class="calendar-card p-3 rounded-4 shadow-sm bg-white position-relative">
  
  @if (isExporting()) {
    <div class="share-only-header mb-3 border-bottom pb-2">
      <div class="d-flex align-items-center gap-2">
        <div class="user-avatar-mini bg-primary text-white rounded-circle d-flex align-items-center justify-content-center" style="width: 30px; height: 30px; font-size: 0.8rem;">AR</div>
        <div>
          <h5 class="m-0 fw-bold" style="color: #334155; font-size: 0.9rem;">Aroa's Progress</h5>
          <small class="text-muted" style="font-size: 0.7rem;">Kinetic Training</small>
        </div>
      </div>
    </div>
  }

  <h6 class="fw-bold mb-3 text-secondary" style="font-size: 0.75rem; text-transform: uppercase; letter-spacing: 0.5px;">Weekly Activity</h6>
  
   
  <div class="d-flex justify-content-between align-items-center gap-1">
    @for (day of weeklyActivity(); track $index) {
      <div class="d-flex flex-column align-items-center gap-2">
        <div class="day-cell-container">
          <div class="day-box workout-box" 
              [title]="'Workout: ' + (day.workout.completed ? 'Completed' : ' Pending' )"
               [class]="'workout-intensity-' + day.workout.intensity"
               [class.completed]="day.workout.completed"
               (click)="toggleDayActivity($index, 'workout')"
               style="cursor: pointer;">
          </div>
          <div class="day-box nutrition-box" 
          [title]="'Nutrition: ' + (day.nutrition.completed ? 'Goal Reached' : 'Pending')"
               [class]="'nutrition-intensity-' + day.nutrition.intensity"
               [class.completed]="day.nutrition.completed"
               (click)="toggleDayActivity($index, 'nutrition')"
               style="cursor: pointer;">
          </div>
        </div>

        <span class="text-muted fw-bold day-label"
        [class.is-today]="$index === todayIndex()"
        style="font-size: 0.65rem;">
        {{ day.label }}
       </span>
      </div>
    }
  </div>

  @if (!isExporting()) {
    <button (click)="exportAsImage($event)" class="btn-share-icon position-absolute top-0 end-0 m-2 border-0 bg-transparent">
       <i class="bi bi-share-fill" style="color: #94a3b8; font-size: 1.1rem;"></i>
    </button>
  }
</div>